{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'covidpass/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'covidpass/css/style.css' %}">
    <title>Обложки для паспорта с QR-кодами</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="my-5">Обложки для паспорта с QR-кодами</h1>
        </div>
      </div>
      <hr class="pb-2">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="my-3">Что делать?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Закидывай ссылку</h5>
                <p class="card-text">Скопируй ссылку на сертификат вакцинации в форму. Так мы сможем добавить его на твою обложку.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Кастомизируй</h5>
                <p class="card-text">Выбирай текст, стиль и эмодзи чтобы сделать свою обложку максимально уникальной!</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Заказывай</h5>
                <p class="card-text">Мы напишем тебе в Instagram чтобы уточнить детали заказа.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="pb-2">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="my-3">Закидывай ссылку</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <form id="certificateLinkForm">
            <div class="row">
              <div class="col-8">
                <input type="url" class="form-control form-control-lg w-100" id="certificateLink" placeholder="https://www.gosuslugi.ru/vaccine/cert/verify/">
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-lg btn-dark px-2 w-100">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row qr-variants-holder">
        <div class="col-12">
          <hr class="pb-2">
        </div>
        <div class="col-12 text-center">
          <h3 class="my-3">Выбирай вариант QR-кода</h3>
        </div>
        <div class="col-6 col-md-4">
          <img id="QR1" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-4">
          <img id="QR2" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-4">
          <img id="QR3" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-4">
          <img id="QR4" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-4">
          <img id="QR5" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-4">
          <img id="QR6" class="img-fluid rounded">
        </div>
      </div>
      <hr class="pb-2">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="my-3">Кастомизируй</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="canvasContainer" class="w-100 my-4"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <h4>Стилизация текста</h4>
          <form>
            <textarea class="form-control w-100, my-1" id="textInput">ВАШ
ТЕКСТ</textarea>
            <p class="mb-0">Стиль текста:</p>
            <select class="form-control w-100 my-1" id="textStyle">
              <option value="normal" selected>Обычный</option>
              <option value="bold">Жирный</option>
              <option value="italic">Курсивом</option>
              <option value="italic bold">Жирный курсивом</option>
            </select>
            <p class="mb-0">Размер текста:</p>
            <div class="row m-0 p-0">
              <div class="col-1 m-0 p-0 text-center">
                <span>20</span>
              </div>
              <div class="col-10 m-0 p-0">
                <input class="w-100 mt-1" type="range" min="20" max="100" step=5 id="textSize">
              </div>
              <div class="col-1 m-0 p-0 text-center">
                <span>100</span>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark px-2 w-100 my-1" id="submitText">Сохранить</button>
          </form>
        </div>
        <div class="col-12 col-md-6 text-center">
          <h4>Выбор эмодзи</h4>
          <p>Чтобы выбрать эмодзи - кликай на них</p>
          <h4 class="mt-4">Раздел случайностей</h4>
          <button type="button" class="btn btn-lg btn-secondary w-100 my-1" id="randomEmojiButton">Случайные эмодзи</button>
          <button type="button" class="btn btn-lg btn-secondary w-100 my-1" id="randomTextButton">Случайный текст</button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="emojiModalLabel">Выбор эмодзи</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="emojiModalBody"></div>
        </div>
      </div>
    </div>
    <script src="{% static 'covidpass/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'covidpass/js/popper.min.js' %}"></script>
    <script src="{% static 'covidpass/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'covidpass/js/konva.min.js' %}"></script>
    <script src="{% static 'covidpass/js/emojis.js' %}"></script>
    <script src="{% static 'covidpass/js/app.js' %}"></script>
  </body>
</html>
